/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
    width: 900px;
    margin: auto;
}

.container header {
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    margin-top: 80px;
}

.logo {
    width: 25%;
}

.logo1 {
    display: none;
}

.navigation a {
    margin-right: 50px;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 18px;
}

.navigation {
    justify-content: space-between;
    flex-direction: row;
}

.container .navigation a {
    text-decoration: none;
    color: #C0C0C0;
    font-weight: bolder;
}

.navigation a:hover {
    color: white;
    background-color: grey;
}

.middle3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.innovation {
    font-weight: bold;
    font-size: 90px;
    width: 200px;
    margin-top: 50px;
    margin-left: 90px;
    text-align: center;
}

.button {
    color: black;
    background: white;
    border: 2px solid black;
    margin-bottom: 100px;
    padding: 10px 60px;
    margin-left: 99px;
}


/* Regular*/

p {
    font-size: 17px;
    font-family: 'Ma Shan Zheng', cursive;
}

.middleSection {
    display: flex;
    padding-bottom: 50px;
    padding-top: 30px;
    flex-wrap: wrap;
}

.middleSection .features {
    width: 49%;
}

.middleSection .about {
    width: 49%;
}

.lowerSection {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}

.lowerSection .services {
    display: flex;
    width: 280px;
    flex-wrap: wrap;
}

.lowerSection .product {
    width: 280px;
}

.lowerSection .vision {
    width: 280px;
}

address {
    margin-top: 30px;
    text-align: left;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    padding-bottom: 80px;
}

@media(max-width:800px) {
    .container {
        width: 800px;
        margin: 0 auto;
        padding: 20px 1.25%;
    }
    .logo {
        display: none;
    }
    .logo1 {
        display: block;
        width: 25%;
        margin-left: 30%;
        margin-bottom: 5%;
        margin-top: 0%;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    .navigation {
        display: flex;
        margin-left: 20px;
        width: 1%;
        padding-bottom: 0%;
    }
    .navigation a {
        font-size: 18px;
        font-weight: bolder;
    }
    .middle3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 40%;
    }
    .middle3 img {
        display: none;
    }
    .button {
        padding-top: 8px 25px;
        border: 2px solid Black;
        margin-left: 30%;
    }
    hr {
        border: 1px solid black;
    }
    .middle-img {
        width: 85%;
    }
    footer {
        width: 80%
    }
    .middleSection .features {
        width: 49%;
    }
    .middleSection .about {
        width: 49%;
    }
}

@media(max-width:500px) {
    .container {
        width: 500px;
        margin: 0 auto;
        padding: 15px 1.25%;
    }
    .navigation {
        display: flex;
        margin-left: 20px;
        width: 1%;
        padding-bottom: 0%;
        flex-direction: column;
        margin-left: 180px;
    }
    .navigation a {
        margin-bottom: 10px;
        font-size: 25px;
    }
    .logo1 {
        width: 50%;
    }
    .button {
        padding: 8px 50px;
        border: 2px solid Black;
        margin-left: 30%;
    }
    .lowerSection {
        flex-direction: column;
        margin-bottom: 100px;
    }
    .vision,
    .about {
        margin-top: 20px;
    }
    h1 {
        font-size: 70px;
    }
}


/*NOTE: service page starts here*/

.navigation2 {
    display: flex;
}

.navigation2 a {
    color: grey;
    margin-left: 50px;
    margin-top: 60px;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 10px;
}

.navigation2 a:hover {
    color: white;
    background-color: grey;
}

.navigation2 .logo {
    margin-bottom: 20px;
    margin-left: 10px;
    width: 170px;
}

.services-header-img {
    margin-bottom: 20px;
}

.services {
    margin-bottom: 30px;
}

.sixsquares {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
}

.digital,
.ux,
.marketing,
.webdevelopment,
.iosDevelopment,
.androiddevelopment {
    margin-top: 15px;
    border: 1px solid black;
    width: 425px;
    height: 250px;
    background-color: #f2f2f2;
    text-align: left;
    padding: 20px;
}

.sixsquares button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 35px;
    margin-top: 25px;
    background: white;
}

.facts {
    display: flex;
    margin: 20px;
}

.listthings {
    list-style-type: square;
    margin-top: 15px;
    margin-left: 15px;
}

.services-info-img {
    width: 380px;
}

footer {
    margin-top: 50px;
}